* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-width: 1630px;
    /* 增加透视效果 */
    perspective: 500px;
    background-image: url(img/景点img/景点背景图.jpg);
    background-size: cover;
}

.title {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    font-size: 80px;
    font-family: '隶书';
    line-height: 120px;
    width: 0;
    height: 120px;
    background-color: rgba(16, 134, 118, 0.3);
    /* 强制文本不换行 */
    white-space: nowrap;
    border-radius: 30px;
    /* 打字机效果 */
    animation: a 3s steps(6) forwards;
}

@keyframes a {
    0% {
        width: 0;
    }

    100% {
        width: 480px;
    }
}

.box1 {
    width: 1500px;
    height: 380px;
    margin-top: 25px;
    background-color: rgb(95, 154, 236, 0.4);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.box1 .left {
    float: left;
    width: 480px;
    height: 300px;
    background-image: url(img/景点img/大熊猫基地.jpg);
    border-radius: 20px;
    margin-top: 40px;
    display: block;
    transition: all 1.5s;
}

/* 3D沿y轴立体旋转 */
.box1 .left:hover {
    transform: rotateY(180deg);
}

.box1 .right {
    float: right;
    width: 880px;
    height: 300px;
    background-color: rgba(124, 78, 230, 0.4);
    margin-right: 30px;
    margin-top: 40px;
    border-radius: 20px;
}

.box1 .right h6 {
    letter-spacing: 4px;
    font-family: 'KaiTi';
    font-size: 30px;
}

.bigbox2 {
    height: 400px;
    background-color: rgb(50, 143, 174, 0.5);
    margin-top: 25px;
}

.box2 {
    float: right;
    width: 1500px;
    height: 380px;
    background-color: rgba(83, 54, 200, 0.4);
    margin-top: 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.box2 .right {
    float: right;
    width: 480px;
    height: 300px;
    background-image: url(img/景点img/宽窄巷子.jpg);
    border-radius: 20px;
    margin-top: 40px;
    display: block;
    transition: all 1.5s;
}

.box2 .right:hover {
    transform: rotateY(180deg);
}

.box2 .left {
    float: left;
    width: 880px;
    height: 305px;
    background-color: rgba(223, 165, 72, 0.3);
    margin-left: 30px;
    margin-top: 40px;
    border-radius: 20px;
}

.box2 .left h6 {
    letter-spacing: 4px;
    font-family: 'KaiTi';
    font-size: 30px;
}

.box3 {
    width: 1500px;
    height: 380px;
    background-color: rgb(95, 154, 236, 0.4);
    margin-top: 22px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.box3 .left {
    float: left;
    width: 480px;
    height: 300px;
    background-image: url(img/景点img/九寨沟.jpg);
    border-radius: 20px;
    margin-top: 40px;
    display: block;
    transition: all 1.5s;
}

.box3 .left:hover {
    transform: rotateY(180deg);
}

.box3 .right {
    float: right;
    width: 880px;
    height: 300px;
    background-color: rgba(124, 78, 230, 0.4);
    margin-right: 30px;
    margin-top: 40px;
    border-radius: 20px;
}

.box3 .right h6 {
    letter-spacing: 4px;
    font-family: 'KaiTi';
    font-size: 30px;
}

.bigbox4 {
    height: 400px;
    background-color: rgb(50, 143, 174, 0.5);
    margin-top: 25px;
}

.box4 {
    float: right;
    width: 1500px;
    height: 380px;
    background-color: rgba(83, 54, 200, 0.4);
    margin-top: 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.box4 .right {
    float: right;
    width: 480px;
    height: 300px;
    background-image: url(img/景点img/武侯祠.jpg);
    border-radius: 20px;
    margin-top: 40px;
    display: block;
    transition: all 1.5s;
}

.box4 .right:hover {
    transform: rotateY(180deg);
}

.box4 .left {
    float: left;
    width: 880px;
    height: 305px;
    background-color: rgba(223, 165, 72, 0.3);
    margin-left: 30px;
    margin-top: 40px;
    border-radius: 20px;
}

.box4 .left h6 {
    letter-spacing: 4px;
    font-family: 'KaiTi';
    font-size: 30px;
}

.box5 {
    width: 1500px;
    height: 380px;
    background-color: rgb(95, 154, 236, 0.4);
    margin-top: 22px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.box5 .left {
    float: left;
    width: 480px;
    height: 300px;
    background-image: url(img/景点img/都江堰.jpg);
    border-radius: 20px;
    margin-top: 40px;
    display: block;
    transition: all 1.5s;
}

.box5 .left:hover {
    transform: rotateY(180deg);
}

.box5 .right {
    float: right;
    width: 880px;
    height: 305px;
    background-color: rgba(124, 78, 230, 0.4);
    margin-right: 30px;
    margin-top: 40px;
    border-radius: 20px;
}

.box5 .right h6 {
    letter-spacing: 4px;
    font-family: 'KaiTi';
    font-size: 30px;
}

.bottom {
    width: 100%;
    height: 160px;
    background-color: rgba(12, 89, 233, 0.35);
    margin-top: 40px;
}

.point {
    float: left;
    width: 180px;
    height: 70px;
    background-color: transparent;
    margin-top: 55px;
    margin-left: 60px;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    line-height: 70px;
    color: #fff;
}

.point:hover {
    color: rgb(247, 219, 157, 0.8);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: rgb(247, 219, 157, 0.8);
    cursor: pointer;
}