/* 清除内外边距 */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-width: 1630px;
    background-image: url(img/景点img/景点背景图.jpg);
    /* 一张背景图铺满 */
    background-size: cover;
}

.big {
    width: 1630px;
}

.menus {
    /* 主轴方向满了不换行，压缩宽度 */
    flex-wrap: nowrap;
    height: 80px;
}

a {
    text-decoration: none;
    font-size: 35px;
    letter-spacing: 10px;
    font-family: 'KaiTi';
    font-weight: 700px;
    display: inline-block;
    height: 80px;
    width: 197px;
    color: white;
    background-color: rgba(12, 89, 233, 0.35);
    line-height: 80px;
    text-align: center;
    padding: 0 104px;
    margin: 0;
}

ul {
    /* 清除列表前显示的符号 */
    list-style-type: none;
}

#list {
    /* 属性值转换为块级元素 */
    display: block;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: 100%;
}

#list>li {
    /* 子选择器，选择list里所有的直接后代 */
    float: left;
}

#list>li>ul {
    /* 隐藏二级菜单栏 */
    display: none;
    /* 绝对定位，相对祖先元素移动位置 */
    position: absolute;
    float: none;
}

/* 显示二级菜单栏 */
#list>li:hover ul {
    display: block;
}

a:hover {
    background-color: rgb(247, 219, 157, 0.8);
}

.header {
    height: 300px;
    background-color: rgb(113, 169, 243, 0.4);
    margin-top: 15px;
    text-align: center;
    line-height: 300px;
    font-size: 62px;
    font-family: 'KaiTi';
    font-weight: 700px;
}

.header .left {
    float: left;
    width: 600px;
    height: 300px;
    background-image: url(img/首页img/one.jpg);
    /* 隐藏显示 */
    overflow: hidden;
    animation: w1 1.25s steps(1000) forwards;
}

@keyframes w1 {
    0% {
        width: 0;
    }

    100% {
        width: 600px;
    }
}

.header .right {
    float: right;
    width: 600px;
    height: 300px;
    background-image: url(img/首页img/two.jpg);
    overflow: hidden;
    /* alternate反方向执行 */
    animation: w2 1.25s steps(1000) alternate forwards;
}

@keyframes w2 {
    0% {
        width: 0;
    }

    100% {
        width: 600px;
    }
}

.recommend {
    float: left;
    width: 800px;
    height: 550px;
    background-color: rgb(195, 225, 249, 0.4);
    margin-top: 15px;
    border: 1px solid transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.title {
    width: 300px;
    height: 50px;
    background-color: rgb(5, 123, 64, 0.4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'KaiTi';
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    margin-top: 15px;
}

.box {
    /* 绝对定位，相对于自身原来位置 */
    position: relative;
    width: 750px;
    height: 450px;
    /* 隐藏超出盒子的内容 */
    overflow: hidden;
    margin: 0 0;
    background: black;
}

.box ul {
    width: 500%;
    /* 转换成行内块元素属性 */
    display: inline-block;
    animation: s 25s infinite;
}

.box ul li {
    width: 750px;
    list-style: none;
    float: left;
}

.box ul li img {
    width: 100%;
    height: 100%;
}

/* 分成五步平移 */

@keyframes s {

    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(-20%);
    }

    30% {
        transform: translateX(-40%);
    }

    40% {
        transform: translateX(-60%);
    }

    50% {
        transform: translateX(-80%);
    }

    60% {
        transform: translateX(-60%);
    }

    70% {
        transform: translateX(-40%);
    }

    80% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(0%);
    }
}

.introduce {
    float: right;
    width: 800px;
    height: 550px;
    background-color: rgb(173, 173, 235, 0.4);
    margin-top: 15px;
    border: 1px solid transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

h4 {
    font-size: 40px;
    font-family: '华文隶书';
}

h6 {
    font-size: 30px;
    font-family: 'KaiTi';
}

/* 清除浮动 */

.clear {
    width: 0;
    height: 550px;
    background-color: transparent;
}

.bottom {
    width: 100%;
    height: 160px;
    background-color: rgba(12, 89, 233, 0.35);
    margin-top: 40px;
}

.point {
    float: left;
    width: 180px;
    height: 70px;
    background-color: transparent;
    margin-top: 45px;
    margin-left: 50px;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    line-height: 70px;
    color: #fff;
}

.point:hover {
    color: rgb(247, 219, 157, 0.8);
    cursor: pointer;
}

.login {
    float: right;
    width: 230px;
    height: 70px;
    background-color: transparent;
    margin-top: 35px;
    margin-right: 80px;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 4px;
    text-align: center;
    line-height: 70px;
    color: #fff;

}

.login:hover {
    background-color: transparent;
    cursor: pointer;
    color: rgb(247, 219, 157, 0.8);
}